# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/build

# Ignore Kotlin plugin data
.kotlin

.DS_Store

# Ignore the /bin (.class files)
/bin

.vscode

# Mon rapport de bugs (corrigés depuis)
BUGS_REPORT.md

# Pour la 26.2
/26.2/build
/26.2/.gradle
/26.2/bin
/26.2/.kotlin

# Pour la 1.8.9
spigot-1.8.8.jar